html {
  font-size: 10px;
  background: url(https://res.cloudinary.com/emanon/image/upload/v1532565756/b9r5sEL.jpg);
  background-size: cover;
}
body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}